@import "tailwindcss";

@theme {
  --font-sans: "Geist", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
